{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./src",
                    "@constants": "./src/constants",
                    "@axiosHooks": "./src/hooks/axiosHooks"
                }
            }
        ]
    ]
}
